{#
/**
 * @file
 * Theme override for an 'input--TYPE' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
<button{{ attributes|without('value') }}>{{ attributes.value }}</button>
