<nav class="menu">
  <ul class="menu__list">
  {% for name, url in social_links %}
    {% if url %}
      {% set svg_file = source(directory ~ '/dist/images/social-icons/' ~ name ~'.svg') %}
      <li class="menu__item"><a href="{{ url }}" class="menu__link menu__link--white menu__link--social">{{ svg_file|raw }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
</nav>
