{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}
{% if primary %}
  <nav class="menu--local-tasks">
  <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
  <ul class="menu__list">{{ primary }}</ul>
  </nav>
{% endif %}
{% if secondary %}
  <nav class="menu--local-tasks">
  <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
  <ul class="menu__list">{{ secondary }}</ul>
  </nav>
{% endif %}
