/**
 * Globals
 */
$global-margin: 15px;
$global-gutter: 30px;
$global-row-width: 1000px;
$global-columns: 12;

/**
 * Media Queries
 */
$xsmall: only screen and (max-width: 370px);
$medium: only screen and (min-width: 641px);
$large: only screen and (min-width: 1025px);
$xlarge: only screen and (min-width: 1920px);

/**
 * Colors */
$primary-navy: #00205b;
$primary-navy-rgb: 0, 32, 91; 

$primary-orange: #ff671f;
$primary-orange-rgb: 255, 103, 31;

$secondary-maroon: #910048;
$secondary-maroon-rgb: 145, 0, 72;

$secondary-blue: #00a9ce;
$secondary-blue-rgb: 0, 169, 206;

$secondary-lightblue: #59cbe8;
$secondary-lightblue-rgb: 89, 203, 232;

$secondary-green: #48a23f;
$secondary-green-rgb: 72, 162, 63; 

$secondary-mint: #a1d884;
$secondary-mint-rgb: 161, 216, 132;

$secondary-yellow: #ffbf3f;
$secondary-yellow-rgb: 255, 191, 63;

$secondary-gold: #c5b783;
$secondary-gold-rgb: 197, 183, 131;

$secondary-grey: #b1b3b3;
$secondary-grey-rgb: 177, 179, 179;

/* Other */
$light-red: #fff1f1;
$red: #bf5858;
$dark-navy: #081b3f;

/* Neutrals */
$white: white;
$neutral-dark: #222;
$neutral: #ccc;
$neutral-light: #efefef;

/**
 * Typography */
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-bold: 700;

/*- Font names */

/*-- Sanchez */
$sanchez: 'Sanchez W03';
$sanchez-fallback: Sanchez, Rockwell, "Lucida Bright", slab-serif, serif;

/*-- Univers */
$univers: 'Univers W01';
$univers-fallback: Univers, Helvetica, Arial, sans-serif;
$univers-condensed-fallback: 'Arial Narrow', Helvetica, Arial, sans-serif;

/*- Body */
$base-font-family-oblique: $univers, $univers-fallback;
$base-font-family-condensed: $univers, $univers-condensed-fallback;
$base-font-family: $univers, $univers-fallback;
$base-font-weight: 400;
$base-font-size: 1.8rem;
$base-line-height: 1.5;
$base-font-color: $neutral-dark;

/*- Heading */
$heading-font-family: $sanchez, $sanchez-fallback;
$heading-font-weight: 300;
$heading-line-height: 1.6;
$heading-color: $primary-navy;
$heading-margin-top: .5rem;
$heading-margin-bottom: 1rem;
$heading-font-size-h1: 3.5rem;
$heading-font-size-h2: 2.7rem;
$heading-font-size-h3: 2.1rem;
$heading-font-size-h4: $base-font-size;
$heading-font-size-h5: $base-font-size;
$heading-font-size-h6: 1.3rem;

/*- Subheading */
$subheading-font-family: $sanchez, $sanchez-fallback;
$subheading-font-weight: 300;

/*- Links */
$link-color: #003DAF;
$link-visited: $secondary-maroon;
$link-hover: $primary-navy;
$link-weight: bold;

/**
 * Tables
 */
$table-padding-x: .5rem;
$table-padding-y: .5rem;

$table-border-size: 1px;
$table-border-style: solid;
$table-border-color: $neutral-light;

$table-border: $table-border-size $table-border-style $table-border-color;

$table-row-alternate: $neutral-light;
$table-td-background: $white;
$table-td-color: $base-font-color;
$table-th-background: $secondary-maroon;
$table-th-color: $white;

/**
 * Misc site settings
 */
$search-form-height: 45px;
$search-form-font-size: 14px;
