@import './_settings.css';

/**
 * BASE Styles
 *
 * Base styles are the defaults. They are almost exclusively single
 * element selectors but it could include attribute selectors,
 * pseudo-class selectors, child selectors or sibling selectors.
 *
 */

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background: $white;
  font-size: $base-font-size;
  font-family: $base-font-family;
  color: $base-font-color;
  line-height: $base-line-height;
}
/**
 * Links
 *
 * TODO: Eliminate base style to use .link class, maybe keep for a fallback
 */
a:not([class]) {
  color: $link-color;
  text-decoration: none;
  border-bottom: 1px solid $link-color;
  &:visited {
    color: $link-visited;
    border-bottom: 1px solid $link-visited;
  }
  &:hover {
    color: $link-hover;
    border-bottom: 1px solid $link-hover;
  }
  img {
    border: 0;
  }
}

/* Show offsite link icon for content links */
main a[href*="://"]:not([class])::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 5px;
  background: transparent url('../images/icon_offsite_link.png') 0 0 no-repeat;
  background-size: 12px;
}

/* Typography */
p,
ul,
ol,
dl,
address,
blockquote,
table {
  margin-top: 0;
  margin-bottom: $global-margin;
  color: $base-font-color;
  line-height: $base-line-height;
}

b,
strong {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: $heading-margin-top;
  margin-bottom: $heading-margin-bottom;
  font-size: $base-font-size;
  font-weight: $heading-font-weight;
  font-family: $heading-font-family;
  color: $heading-color;
  a {
    border-bottom: none;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: $global-gutter;
  margin-bottom: .1rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h1 {
  font-size: $heading-font-size-h1;
}

h2 {
  font-size: $heading-font-size-h2;
}

h3 {
  font-size: $heading-font-size-h3;
}

h4 {
  font-size: $heading-font-size-h4;
}

h5 {
  font-size: $heading-font-size-h5;
  font-weight: 600;
}

h6 {
  font-size: $heading-font-size-h6;
  font-weight: 600;
}

em {
  font-style: italic;
}

small {
  font-size: 80%;
}

img {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

figure {
  clear: both;
  margin: 0 0 $global-margin;
  background: $neutral-light;
}

figcaption {
  padding: 5px 15px 13px;
  background: $neutral-light;
  font-family: $base-font-family;
  font-size: 1.4rem;
  text-align: left;
}

blockquote {
  margin: $global-margin;
  padding-left: $global-margin;
  border-left: .3rem solid $secondary-grey;
}

address {
  margin-left: $global-gutter;
  font-style: normal;
}

i {
  display: inline-block;
  font-style: normal;
}

code {
  padding: 0 5px;
  background-color: $neutral-light;
  border: 1px solid $secondary-grey;
  border-radius: 3px;
  font-size: 1.4rem;
  color: $neutral-dark !important;
  pre & {
    border: 0;
  }
}

pre {
  background: $neutral-light;
  padding: 0 $global-margin;
  border-radius: 3px;
  overflow-x: auto;
  color: black;
}
/**
 * Block elements
 */
section,
article,
main,
aside {
  margin-bottom: $global-margin;
}

section {
  padding: $global-margin;
}

footer {
  margin-top: 50px;
}

/* Lists */
ul,
ol,
dl {
  list-style-position: outside;
  margin-top: 0;
  padding: 0;
}

ul {
  margin-left: 18px;
  line-height: 1.8;
  ul,ol {
    margin-bottom: 0;
  }
}

ol {
  margin-left: 22px;

  ul,ol {
    margin-bottom: 0;
  }

  ol:not([type]) {
    list-style-type: lower-alpha;
  }

  ol ol:not([type]) {
    list-style-type: lower-roman;
  }

  ol ol ol:not([type]) {
    list-style-type: decimal;
  }

  ol ol ol ol:not([type]) {
    list-style-type: lower-alpha;
  }

  ol ol ol ol ol:not([type]) {
    list-style-type: lower-roman;
  }
}

hr {
  position: relative;
  margin: $global-margin 0;
  border: none;
  border-top: 1px solid $neutral-light;
  color: $neutral-light;
}

/* Tables */
table {
  border-bottom: $table-border;
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}

th,
td {
  border-bottom: $table-border;
  /* border-right: $table-border; */
  padding: $table-padding-y $table-padding-x;
  line-height: inherit;
}

th {
  background: $table-th-background;
  text-align: left;
  font-weight: bold;
  color: $table-th-color;
  vertical-align: bottom;
}

td {
  background: $table-td-background;
  vertical-align: top;
  font-color: $table-td-color;
}

/* Forms */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
  width: auto;
  padding: 0.2em 0.3em;
  display: inline-block;
  background: $white;
  border: 1px solid $secondary-grey;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:focus {
    outline: 0;
  }

  &[disabled] {
    cursor: not-allowed;
    background-color: $neutral-light;
    color: $secondary-grey;
  }
}

button:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

select {
  height: 2em;
}

input,
textarea,
select {
  &:focus:invalid {
    border-color: $primary-orange;
  }
}

label {
  font-size: 90%;
  font-weight: bold;
}
