@import './_settings.css';

.container {
  width: calc(100% - $global-gutter);
  max-width: $global-row-width;
  margin: 0 auto;
  padding-left: $global-margin;
  padding-right: $global-margin;
  &--relative {
    position: relative;
  }
  &--collapse {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

/**
 * The following has been adapted from PaperCSS
 * @url: https://github.com/rhyneav/papercss
 */

@define-mixin center-all {
  align-items: center;
  justify-content: center;
}

@define-mixin col-size $percent {
  flex: 0 0 $percent;
  max-width: $percent;
}

@define-mixin col-size-gutter $percent, $gutter:30px {
  flex: 0 0 calc($percent - $gutter);
  max-width: calc($percent - $gutter);
}

.row {
  margin-right: auto;
  display: flex;
  margin-left: auto;
  margin-bottom: 1rem;
  flex-flow: row wrap;

  &.flex-right {
    justify-content: flex-end;
  }

  &.flex-center {
    justify-content: center;
  }

  &.gutter-inner,
  &.flex-edges {
    justify-content: space-between;
  }

  &.gutter,
  &.flex-spaces {
    justify-content: space-around;
  }

  &.flex-top {
    align-items: flex-start;
  }

  &.flex-middle {
    align-items: center;
  }

  &.flex-bottom {
    align-items: flex-end;
  }

}

@for $i from 1 to 12 {
  .col-$i {
    @mixin col-size calc($i * 100% / 12);
  }

  @media $medium {
    .row.gutter .col-$i,
    .row.gutter-inner .col-$i {
      @mixin col-size-gutter calc(100% * $i  / 12);
      margin-left: $global-margin;
      margin-right: $global-margin;
    }

    .row.gutter-inner {
      .col-$i:first-child {
        @mixin col-size-gutter calc(100% * $i / 12), 15px;
        margin-left: 0;
      }

      .col-$i:last-child {
        @mixin col-size-gutter calc(100% * $i / 12), 15px;
        margin-right: 0;
      }
    }

  }

}

@media (max-width: 640px) {
  @for $i from 1 to 12 {

    /* added specificity due compile order problems */
    .row .sm-$i {
      @mixin col-size calc($i * 100% / 12);
    }

    .row.gutter .sm-$i,
    .row.gutter-inner .sm-$i {
      @mixin col-size-gutter calc(100% * $i  / 12);
      margin-left: $global-margin;
      margin-right: $global-margin;
    }

    .row.gutter-inner {
      .sm-$i:first-child {
        @mixin col-size-gutter calc(100% * $i / 12), 15px;
        margin-left: 0;
      }

      .sm-$i:last-child {
        @mixin col-size-gutter calc(100% * $i / 12), 15px;
        margin-right: 0;
      }
    }
  }
}

@media $medium {
  @for $i from 1 to 12 {
    .md-$i {
      @mixin col-size calc($i * 100% / 12);
    }

    .row.gutter .md-$i,
    .row.gutter-inner .md-$i {
      @mixin col-size-gutter calc(100% * $i  / 12);
      margin-left: $global-margin;
      margin-right: $global-margin;
    }

    .row.gutter-inner {
      .md-$i:first-child {
        @mixin col-size-gutter calc(100% * $i / 12), 15px;
        margin-left: 0;
      }

      .md-$i:last-child {
        @mixin col-size-gutter calc(100% * $i / 12), 15px;
        margin-right: 0;
      }
    }
  }
}

@media $large {
  @for $i from 1 to 12 {
    .lg-$i {
      @mixin col-size calc($i * 100% / 12);
    }

    .row.gutter .lg-$i,
    .row.gutter-inner .lg-$i {
      @mixin col-size-gutter calc(100% * $i  / 12);
      margin-left: $global-margin;
      margin-right: $global-margin;
    }

    .row.gutter-inner {
      .lg-$i:first-child {
        @mixin col-size-gutter calc(100% * $i / 12), 15px;
        margin-left: 0;
      }

      .lg-$i:last-child {
        @mixin col-size-gutter calc(100% * $i / 12), 15px;
        margin-right: 0;
      }
    }
  }

}

.col {
  transition: all 0.3s;
}

@media (max-width: 640px) {
  .col {
    /* Stack for mobile */
    @mixin col-size 100%;
  }
}

.col-fill {
  width: auto;
  flex: 1 1 0px;

}

@media $medium {
  .gutter .col-fill,
  .gutter-inner .col-fill {
    flex: 1 1 0px;
    margin-left: $global-margin;
    margin-right: $global-margin;
  }

  .row.gutter-inner .col-fill {
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.align-top {
  align-self: flex-start;
}

.align-middle {
  align-self: center;
}

.align-bottom {
  align-self: flex-end;
}

.demo {
  &.row {
    background: rgba($primary-orange, 0.2);
  }
  .col {
    padding: 20px 0;
    color: white;
    background: $primary-orange;
    text-align: center;
    &:nth-child(2n) {
      background: rgba($primary-orange, 0.7);
    }
  }
}
