@import './_settings.css';

.footer {
  margin-bottom: $global-margin;
}

.footer--main {
  margin-bottom: 0;
  padding-bottom: $global-margin;
  background: $primary-navy url('../images/bg-arrows-random.png') left -100px repeat;
  background-size: 700px;
  text-align: center;
  color: $white;
}

.footer--copyright {
  color: white;
  .link--copyright:hover {
    color: $white;
    border-bottom: 1px solid $white;
  }
  .link--privacy-policy:hover {
    color: $secondary-grey;
    border-bottom: 1px solid $secondary-grey;
  }
}
