@import './_settings.css';

/** 
 * Button 
 */
.button {
  position: relative;
  display: inline-block;
  margin: 0 1rem $global-margin 0;
  padding: .6rem 3.2rem .4rem 1.5rem;
  background: $secondary-blue;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  color: $white;
  line-height: $base-line-height;
  font-family: $sanchez, $sanchez-fallback;
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  overflow:hidden;
  &:after {
    position: absolute;
    top: 0;
    right: -64px;
    content: '';
    width: 100px;
    height: 100px;
    background-color: rgba(0,0,0, 0.15);
    z-index: 1;
    margin: 0;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    transition: all 0.5s ease;
  }
  &:hover {
    color: $white;
    text-decoration: none;
    border-bottom: 0;
    &:after {
      transform: translate(15px, 0) rotate(-45deg);
      /* background-color: rgba(255,255,255, 0.3); */
    }
  }
  &:visited {
    color: $white;
    border-bottom: 0;
  }
  &--large {
    padding: 1rem 4.8rem .7rem 1.75rem;
    font-size: 2.2rem;
    &:after {
      right: -53px;
    }
  }
  &--small {
    padding: .5rem 2.8rem .4rem 1rem;
    font-size: .8em;
    &:after {
      right: -73px;
    }
  }
  &--extended {
    padding-left: 0;
    padding-right: 0;
    display: block;
    width: 100%;
  }
  &--navy {
    background-color: $primary-navy;
    &:after {
      background-color: rgba(255,255,255, 0.3);
    }
  }  
  &--orange {
    background-color: $primary-orange;
  }
  @each $color in maroon, blue, lightblue, green, mint, yellow {
    &--$(color) {
      background-color: $secondary-$(color);
    }
  }
  &--disabled {
    background-color: $secondary-grey;
  }
  &--success {
    background-color: $secondary-green;
  }
  &--white {
    background-color: $white;
    color: $primary-navy;
    &:visited, 
    &:hover {
      color: $primary-navy;
    }
  }
}
