@import './_settings.css';

.breadcrumb {
  &__list {
    margin-left: 0;
    list-style: none;
    font-size: 95%;
  }

  &__item {
    display: inline-block;
    &:not(:last-child):after {
      content: ' // ';
      padding: 0 5px;
      color: $secondary-grey;
    }
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: $secondary-maroon;
  }

}
