@import './_settings.css';

.title {

  &--site {
    margin-top: 1rem;
    margin-bottom: .5rem;
    padding-left: $global-margin;
    padding-right: $global-margin;
    font-size: 3rem;
    font-weight: 300;
    color: $white;

    @media $large {
      padding-left: 0;
    }
  }

  &--page {
    margin-top: .5rem;
    font-size: 4.4rem;
  }

  &__link--site {
    color: $white;
    border-bottom: none;
    &:hover {
      color: $secondary-blue;
    }
  }

}
