@import './_settings.css';

.menu {

  &__item {
    position: relative;
    display: inline-block;
  }

  &__list {
    margin-left: 0;
    list-style: none;
  }

  &__link {
    display: inline-block;
    border-bottom: 0;
    text-decoration: none;
    color: $link-color;
    &--social {
      display: inline-block;
      width: 24px;
      height: 24px;
      padding: 0 5px;
    }
    &--white {
      color: white;
      fill: white;
      &:hover {
        color: $primary-orange;
        fill: $primary-orange;
      }
    }
  }

  &__title {
    font-size: $heading-font-size-h3;
    display: none;
  }

  &--vertical {
    display: block;
    .menu__item {
      position: relative;
      display: block;
      padding: .6rem .6rem .6rem 2rem;
      border-left: 3px solid $secondary-yellow;
      &--has-child::before {
        position: absolute;
        top: 13px;
        left: -10px;
        content: '+';
        display: block;
        width: 10px;
        height: 10px;
        padding: 3px;
        background: $white;
        border: 1px solid $secondary-yellow;
        line-height: 5px;
        text-align: center;
        border-radius: 1000px;
      }
      &--active-trail.menu__item--has-child:before {
        content: '-';
        line-height: 6px;
        background: $primary-navy;
        color: $white;
      }
    }
    .menu__link {
      display: block;
      &:hover {
        text-decoration: underline;
      }
      &.is-active {
        font-weight: bold;
      }
    }

    .menu__list .menu__list {
      display: none;
    }

    .menu__item--active-trail > .menu__list {
      display: block;
    }

    &--main {
      display: block;
      border: 1px solid $neutral;
      .menu__title {
        margin-top: 1rem;
        margin-left: 1rem;
      }
      .menu__list:last-child {
        margin-bottom: 0;
      }
    } /* .menu--vertical--main */
  } /* .menu--vertical */

  &--local-tasks {
    display: inline-block;
    margin-bottom: $global-margin;
    padding-left: 1rem;
    border-left: 1px solid $secondary-maroon;
    border-bottom: 1px solid $secondary-maroon;
    .menu__list {
      margin-bottom: 0;
    }
    .menu__link {
      margin-right: $global-margin;
      font-family: $heading-font-family;
      line-height: 1.7;
      color: $secondary-maroon;
    }

  }

  &--masthead,
  &--footer {
    background: rgba($dark-navy, .5);
    text-align: left;
    .menu__list {
      margin-bottom: 0;
    }
    .menu__item--level-0 {
      line-height: 55px;
      width: calc(100% - 20px);
      border-top: 1px solid rgba(255,255,255, 0.15);
      padding: 0 10px;
      @media $medium {
        width: auto;
        margin-left: 0;
        padding: 0 $global-gutter $global-margin 0;
        border-top: none;
        &:last-child {
          padding-right: 0;
        }
      }
      &:hover > a {
        color: $primary-orange;
      }

      & > .menu__link {
        font-size: $heading-font-size-h4;
        color: $secondary-blue;
      }
    }
  } /* .menu--masthead */

  &--footer {
    margin-bottom: $global-margin;
    @media $medium {
      text-align: center;
    }
    .menu__item--level-0 {
      @media $medium {
        padding-bottom: 0;
        display: inline-block;
      }
    }
  } /* .menu--footer */

  &--masthead {
    height: auto;
    padding-bottom: 5px;
    padding-left: 5px;
    @media $medium {
      padding-left: $global-margin;
      background-color: transparent;
    }
    @media $large {
      padding-left: 0;
    }
    .menu__item {
      &--level-0 {
        @media $medium {
          line-height: 1;
        }
      }

      /* Dropdown menus - start */
      &--level-0:hover > .menu__list {
        @media $medium {
          display: block;
        }
      }

      &--level-0 > .menu__list {
        display: none;

        @media $medium {
          position: absolute;
          top: 30px;
          left: 0;
          z-index: 100;
          width: auto;
          min-width: 200px;
          padding: 20px;
          background: $white;
          border-left: 5px solid $secondary-yellow;
          box-shadow: 1px 1px 15px rgba(0,0,0,0.1);
          &:after {
            content: '';
            position: absolute;
            bottom: -3px;
            left: -10px;
            border-bottom: 15px solid $secondary-yellow;
            border-left: 15px solid transparent;
            transform: rotate(45deg);
            display: block;
          }
        }

        .menu__item {
          display: block;
          padding: 10px 0;
          border-bottom: 1px solid $neutral-light;
          &:first-child {
            padding-top: 0;
            margin-top: 0;
          }
          &:last-child {
            padding-bottom: 0;
            border-bottom: 0;
          }
        }

        .menu__link {
          width: 100%;
          font-size: $base-font-size;
          color: $primary-navy;
          &:hover {
            color: $primary-orange;
          }
        }

      }
      /* Dropdown menus - end */


      &--level-1 {
        .menu__list {
          margin-top: $global-margin;
          padding-left: $global-margin;
          border-left: 3px solid $neutral-light;
        }
      }
    }
  } /* .menu--main-masthead */

}
