@import './_settings.css';

.pager__items {
  display: inline-block;
  width: 100%;
  margin: 20px;
  padding: 10px;
  /* border-top: 1px solid $secondary-grey; */
  list-style: none;
}

.pager__item {
  display: inline-block;
}

.pager__link {
  position: relative;
  display: flex;
  justify-content: center;
  width: auto;
  padding: 0 5px;
  border-bottom-color: transparent;
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $primary-navy;
  }
  &.is-active::after {
    position: absolute;
    bottom: -3px;
    display: block;
    flex: 1;
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $primary-orange;
  }
}

.pager--mini {
  .pager__item {
    margin-right: 5px;
  }
}
