@import './_settings.css';

.logo {
  display: block;
  border: 0;
  &:hover {
    border: 0;
  }

  &--masthead {
    width: 225px;
    padding-top: 15px;
    padding-right: $global-margin;
    padding-left: $global-margin;

    @media $large {
      padding-left: 0;
    }
  }

  &--footer {
    width: 250px;
    margin: 0 auto;
    padding: $global-margin;
    text-align: center;
  }

}
