@import './_settings.css';

/**
 * Images
 *
 * TODO: conform to BEM, must fix Drupal injected classes
 */
.image {
}

.image-thumbnail {
  max-width: 200px;
}

.image-medium {
  max-width: 500px;
}

.image-large {
  max-width: 1000px;
}

.align-center,
.align-left,
.align-right,
img[data-align="center"],
img[data-align="left"],
img[data-align="right"] {
  display: inline-block;
  width: auto;
  height: auto;
  margin-bottom: $global-margin;

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.align-center,
img[data-align="center"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.align-left,
img[data-align="left"] {
  float: left;
  @media $medium {
    margin-right: $global-margin;
  }
}

.align-right,
img[data-align="right"] {
  float: right;
  @media $medium {
    margin-left: $global-margin;
  }
}
