@import './_settings.css';

/**
 * Masthead
 */
.masthead {
  position: relative;
  margin-bottom: $global-gutter;
  background-color: $primary-navy;
  color: $white;
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: $search-form-height;
    @media $medium {
      background: linear-gradient(to right, transparent 60%, $primary-orange 60%, $primary-orange 100%);
    }
  }
}

