@import './_settings.css';

.messages {
  margin-bottom: $global-margin;
  padding: $global-margin;
  background-color: rgba($secondary-green, 0.1);
  border-left: 5px solid $secondary-green;

  &--warning {
    background-color: rgba($secondary-yellow, 0.1);
    border-left: 5px solid $secondary-yellow;
  }

  &--error {
    background-color: rgba($secondary-maroon, 0.1);
    border-left: 5px solid $secondary-maroon;
  }
}
