@import './_settings.css';

.form {
  &-search-block-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: $search-form-height;
    padding: 0 calc($global-margin/2);
    background: $primary-orange;

    @media $medium {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      max-width: 50%;
    }

    @media $large {
      max-width: 45%;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: -$search-form-height;
      display: block;
      width: 0;
      height: 0;
      border-top: $search-form-height solid rgba($primary-orange, 0.9);
      border-left: $search-form-height solid transparent;
    }

    &:after {
      content: '';
      display: table;
      clear: both;
    }

    &__label {
      display: none;
    }

    &__input[type="search"] {
      flex: 1 auto;
      height: 35px;
      border: 0;
      font-size: $search-form-font-size;
      color: $primary-navy;

      @media $medium {
        max-width: 40%;
      }
    }

    &__button {
      border: 0;
      height: 35px;
      margin: 0;
      background: $white;
      font-family: $heading-font-family;
      font-size: $search-form-font-size;
      color: $primary-navy;
      &:hover {
        color: $primary-navy;
      }
    }


  }
}


