@import './_settings.css';

.link {
  color: $link-color;
  text-decoration: none;
  border-bottom: 1px solid $link-color;
  &:visited {
    color: $link-visited;
    border-bottom: 1px solid $link-visited;
  }
  &:hover {
    color: $link-hover;
    border-bottom: 1px solid $link-hover;
  }

  &--copyright,
  &--privacy-policy {
    border: none;
    color: $white;
    &:visited {
      border: none;
      color: $white;
    }
  }

  &--privacy-policy {
    font-size: 90%;
    color: $secondary-grey;
    &:visited {
      color: $secondary-grey;
    }
  }

}
