/* theme.css */

/* IE 9/10 */
@media screen and (min-width:0\0) {
  .block.block--block-fpubase8-search {
    position: initial;
  }
}

/* IE 11 */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .block.block--block-fpubase8-search {
    position: initial;
  }
}
