{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.masthead: Items for the masthead region.
 * - page.page_head: Items for the page head region.
 * - page.content_top: Items for the content top region.
 * - page.content: The main content of the current page.
 * - page.content_bottom: Items for the content bottom region.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<header class="masthead" role="banner">
  <div class="container container--relative container--collapse">
    <a href="https://www.fresno.edu" class="logo logo--masthead"><img src="/{{ fpubase8_parent_theme_path }}/dist/images/logo_hor.svg" alt="Fresno Pacific University: Founded on Christ (logo)"></a>
    <h2 class="title title--site"><a href="/" class="title__link--site">{{ drupal_config('system.site', 'name') }}</a></h2>
    {{ page.masthead }}
  </div>

  {{ drupal_entity('block', 'fpubase8_search') }}

</header>


  <main class="container" role="main">
    <div class="row">
      <div class="col col-fill">
        {{ page.page_head }}
      </div>
    </div><!-- .row -->

    <div class="row gutter-inner">

    {% if page.sidebar_first %}
      <aside class="col col-3 md-4 lg-3" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

      <div class="col col-fill">
        {{ page.content_top }}
        {{ page.content }}
        {{ page.content_bottom }}
      </div>

    {% if page.sidebar_second %}
      <aside class="col col-2" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}
    </div><!-- .row -->
  </main>

  <footer class="footer footer--main" role="contentinfo">

    {{ page.footer }}

    <a href="https://www.fresno.edu/" class="logo logo--footer">
      <img src="/{{ fpubase8_parent_theme_path }}/dist/images/logo_vert_white.svg" alt="Fresno Pacific University: Founded on Christ (logo)">
    </a>

    <p class="footer--copyright">
      <a href="https://www.fresno.edu" class="link link--copyright">Fresno Pacific University</a> © {{ 'now'|date('Y') }}<br>
      <a href="https://www.fresno.edu/privacy-policy" class="link link--privacy-policy">Privacy policy</a>
      </p>

    {% if social_links %}
      {% include fpubase8_parent_theme_path ~ '/partials/social_links.html.twig' with social_links %}
    {% endif %}

  </footer>
